<div class="container my-5">
  <div class="d-flex align-items-center mb-4">
    <h1 class="mb-0"><%= title %></h1>

    <% if (isAuthenticated && isAdmin) { %>
      <a href="<%= basePath ? '/' + basePath + '/update/' + item.uuid : '/update/' + item.uuid %>" class="btn btn-hcs-green btn-sm ms-3">
        <i class="bi bi-arrow-clockwise"></i>
      </a>

      <a href="<%= basePath ? '/' + basePath + '/delete/' + item.uuid : '/delete/' + item.uuid %>" class="btn btn-danger btn-sm ms-2">
        <i class="bi bi-trash-fill"></i>
      </a>
    <% } %>
</div>
  <table class="table table-bordered">
    <% for (const key in schema) { const field = schema[key]; %>
      <tr>
        <th><%= field.label %></th>
        <td><%= item[key] != null ? item[key] : '' %></td>
      </tr>
    <% } %>
  </table>
</div>
