<div class="flex flex-col flex-grow bg-white rounded shadow">
  <div class="px-4 py-2 font-bold border-b border-gray-200">
    <%= title %>
  </div>
  <ul class="divide-y divide-gray-200">
    <% if (tasks.length) { %>
      <% tasks.forEach(t => { %>
        <li class="px-4 py-3">
          <a href="/task/read/<%= t.uuid %>" class="font-semibold text-blue-600 hover:underline">
            <%= t.title %>
          </a>
          <% if (showRecurrence && t.recurrence && t.recurrence !== 'none') { %> 🔁 <% } %>
          <% if (t.dueDate) { %>
            <div class="text-gray-500 text-sm mt-1">Due <%= slimDateTime(t.dueDate) %></div>
          <% } %>
          <% if (t.description) { %>
            <div class="mt-1 text-gray-700 text-sm"><%= t.description %></div>
          <% } %>
        </li>
      <% }) %>
    <% } else { %>
      <li class="px-4 py-3 italic text-gray-500">
        <%= emptyMsg %>
      </li>
    <% } %>
  </ul>
</div>
