<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-center">Contract Details</h1>
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><strong>Title:</strong> <%= contract.title %></li>
            <li class="list-group-item"><strong>Location:</strong> <%= contract.location %></li>
            <li class="list-group-item"><strong>Start Date:</strong> <%= slimDateTime(contract.startDate) %></li>
            <li class="list-group-item"><strong>End Date:</strong> <%= slimDateTime(contract.endDate) %></li>
            <li class="list-group-item"><strong>Status:</strong> <%= contract.status %></li>
            <li class="list-group-item"><strong>Notes:</strong> <%= contract.notes || 'N/A' %></li>
            <% if (contract.quoteId) { %>
            <li class="list-group-item"><strong>Quote:</strong> <a href="/quote/read/<%= contract.quoteId.uuid %>"><%= contract.quoteId.title %></a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
