<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <h1 class="display-5 fw-bold text-center">
      <%= title %>
    </h1>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
      <% dashboardModels.forEach(model=> { %>
        <div class="col">
          <div class="card h-100 d-flex flex-column">
            <div class="card-body d-flex flex-column">
              <h5 class="card-header-pills">
                <%= model.title %>
              </h5>
              <p class="card-text">
                <%= model.description %>
              </p>
              <a href="<%= model.link %>" class="btn btn-hcs-green mt-auto">
                <%= model.title %> List
              </a>
            </div>
          </div>
        </div>
        <% }) %>
          <div class="col">
            <div class="card h-100 d-flex flex-column">
              <div class="card-body d-flex flex-column">
                <h5 class="card-header-pills">Weekly Attendance</h5>
                <p class="card-text">Manage Weekly Attendance</p>
                <a href="/weekly" class="btn btn-hcs-green mt-auto">Go to</a>
              </div>
            </div>
          </div>
    </div>

  </div>
</div>