<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-center">Update User</h1>
      <form action="/user/update/<%= user.uuid %>" method="POST">
        <div class="form-floating mb-3">
          <input type="text" id="username" name="username" class="form-control" value="<%= user.username %>" required>
          <label for="username" class="form-label">Username:</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" id="email" name="email" class="form-control" value="<%= user.email %>" required>
          <label for="email" class="form-label">Email:</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" id="password" name="password" class="form-control">
          <label for="password" class="form-label">Password (leave blank to keep current):</label>
        </div>
        <div class="mb-3">
          <label for="role" class="form-label">Role</label>
          <select id="role" name="role" class="form-select">
            <option value="subcontractor" <%= user.role === 'subcontractor' ? 'selected' : '' %>>subcontractor</option>
            <option value="employee" <%= user.role === 'employee' ? 'selected' : '' %>>employee</option>
            <option value="accountant" <%= user.role === 'accountant' ? 'selected' : '' %>>accountant</option>
            <option value="hmrc" <%= user.role === 'hmrc' ? 'selected' : '' %>>hmrc</option>
            <option value="client" <%= user.role === 'client' ? 'selected' : '' %>>client</option>
            <option value="admin" <%= user.role === 'admin' ? 'selected' : '' %>>admin</option>
          </select>
        </div>
        <div class="d-grid gap-2 mt-4">
          <button class="btn btn-hcs-green" type="submit">Update User</button>
        </div>
      </form>
    </div>
  </div>
</div>
