<div class="container my-5">
    <h1 class="text-center mb-4">Jobs</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ref</th>
                <th>Project</th>
                <th>Location</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% jobs.forEach(j => { %>
                <tr>
                    <td><%= j.jobRef %></td>
                    <td><%= j.projectId ? (j.projectId.Name || j.projectId.Reference) : '' %></td>
                    <td><%= j.locationId ? (j.locationId.name || j.locationId.address) : '' %></td>
                    <td><%= j.startDate ? slimDateTime(j.startDate) : '' %></td>
                    <td><%= j.endDate ? slimDateTime(j.endDate) : '' %></td>
                    <td><%= j.status %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
