<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-center">User: <%= user.username %></h1>
      <div class="card">
        <div class="card-header text-bg-secondary">
          <span>User ID: <%= user.uuid %></span>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item"><strong>Username:</strong> <%= user.username %></li>
            <li class="list-group-item"><strong>Email:</strong> <%= user.email %></li>
            <li class="list-group-item"><strong>Role:</strong> <span class="text-capitalize"><%= user.role %></span></li>
            <li class="list-group-item"><strong>Created:</strong> <%= slimDateTime(user.createdAt, true) %></li>
            <li class="list-group-item"><strong>Updated:</strong> <%= slimDateTime(user.updatedAt, true) %></li>
          </ul>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <a class="btn btn-hcs-green btn-sm" href="/user/update/<%= user.uuid %>">Update User</a>
          <% if (isAdmin) { %>
          <form action="/user/delete/<%= user.uuid %>" method="POST" class="m-0">
            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
